* {
  box-sizing: border-box;
}

html {
    background-color: #0a1e36;
}

body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    padding-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
}

.sideBar {
    max-width: 350px;
    background-color: #69A2E2;
    padding-right: 30px;
}


.title {
    color: #0A1E36;
}

.backBtn {
    color: #000000;
}

img {
    border-radius: 4px;
    max-width: 300px;
}

.resultCard {
    font-weight: bolder;
    font-size: x-large;
}

.resultTitle {
    font-size: x-large;
    color: #ffffff;
}
.cardStyle {
    background-color: #f1f6fc;
    border-radius: 10px;
    border-style: double;
    border-color: #94a7b9;
    margin: 10px;
    padding: 5px;
    align-content: center;
    max-width: 360px;
}

.logo {
    color: #0a1e36;
}
